<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ultimate Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/welcome">Welcome</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
