<h1>Welcome to Ultimate Rock Paper Scissors</h1>
<h3>Here are the rules:</h3>
<ol>
  <li>Each player chooses rock, paper or scissors</li>
  <li>Each player then enters their guess in the following format: /game/{player1_guess}/{player2_guess}</li>
  <li>Load the page to find out who wins!</li>
</ol>
